# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
txtAutoRefresh/bin/Debug/txtAutoRefresh.exe
txtAutoRefresh/bin/Debug/txtAutoRefresh.exe.config
txtAutoRefresh/bin/Debug/txtAutoRefresh.pdb
txtAutoRefresh/bin/Debug/txtAutoRefresh.vshost.exe
txtAutoRefresh/bin/Debug/txtAutoRefresh.vshost.exe.config
txtAutoRefresh/obj/Debug/txtAutoRefresh.exe
txtAutoRefresh/obj/Debug/txtAutoRefresh.pdb
txtAutoRefresh/obj/Debug/txtAutoRefresh.csproj.GenerateResource.Cache
txtAutoRefresh/bin/Debug/txtAutoRefresh.vshost.exe.manifest
